/* application colors */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
  --primary: #2a3036;
  --primary-dark: #000710;
  --primary-light: #535960;
  --secondary: #3edf86;
  --secondary-dark: #00ac58;
  --secondary-light: #7cffb6;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiStepLabel-label {
  color: white !important;
}

.MuiFormLabel-root {
  color: white !important;
}
.paymemt-input {
  color: white !important;
}

.paymemt-input input {
  color: white !important;
  text-align: center;
  font-size: 2rem;
  font-family: "Rubik", sans-serif !important;
}
.payment-date input {
  color: white !important;
  text-align: center;
  font-size: 2rem;
  font-family: "Rubik", sans-serif !important;
}
.MuiStepIcon-completed {
  color: var(--secondary) !important;
}

.MuiStepIcon-root.MuiStepIcon-active {
  color: var(--secondary-light) !important;
}

.payment-date span {
  color: white;
}
